rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && (
        request.auth.uid == "3mqf3WlNCnZ3yff162QwLVy1Yt33" ||
        // If you set a custom claim `admin: true` on the user, this will be true
        request.auth.token.admin == true
      );
    }

    // Allow read for authenticated users, write only for admin
    match /{document=**} {
      // allow read: if request.auth != null;
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}

